#container {
    padding: 15px;
    border-radius: 5px;
    margin: 5px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    color: #eee;
    background-color: #333;

    max-width: fit-content(90%);
}

#container h1 {
    text-align: center;
}
